# Changes here wait for the owner's review.
/.github/                                        @michael-schnell
/pom.xml                                         @michael-schnell
/settings.xml                                    @michael-schnell
/mvnw                                            @michael-schnell
/mvnw.cmd                                        @michael-schnell
/.mvn/                                           @michael-schnell
